body { margin: 0;padding: 0; font-family: Arial; font-size: 8px; }
#contenedor { width: 99%}
#contenido { height: 400px; }
.ligas:link, .ligas:visited { color: Black; text-decoration: none }
.ligas:hover { text-decoration: underline }
a.menu:link { color: white; }
.textbox { font-family: Arial; font-size: .9em }

.boton { border: 1px solid orange; background-color:Navy; font-family: Helvetica; font-size:12px; color: white; margin-left:2px; font-weight:bold; width:88px}

.listado { font-family: Helvetica; font-size: 11px; }

/* Menu*/
.menu-h {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 990px; /*For KHTML*/
  list-style: none;
  height: 24px;
}

.menu-h li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 24px;
}

.menu-h ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 200px;
  list-style: none;
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
}

.menu-h ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

.menu-h ul li {
  width: 160px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
}

/* Root Menu */
.menu-h a {
  border: 1px solid #FFF;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  padding: 0 6px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  background: #24437B;
  color: #FFF;
  font: 10px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

/* Root Menu Hover Persistence */
.menu-h a:hover,
.menu-h li:hover a,
.menu-h li.iehover a {
  background: #CCC;
  color: #FFF;
}

/* 2nd Menu */
.menu-h li:hover li a,
.menu-h li.iehover li a {
  float: none;
  background: #EEE;
  color: #666;
}

/* 2nd Menu Hover Persistence */
.menu-h li:hover li a:hover,
.menu-h li:hover li:hover a,
.menu-h li.iehover li a:hover,
.menu-h li.iehover li.iehover a {
  background: #CCC;
  color: #FFF;
}

/* 3rd Menu */
.menu-h li:hover li:hover li a,
.menu-h li.iehover li.iehover li a {
  background: #EEE;
  color: #666;
}

/* 3rd Menu Hover Persistence */
.menu-h li:hover li:hover li a:hover,
.menu-h li:hover li:hover li:hover a,
.menu-h li.iehover li.iehover li a:hover,
.menu-h li.iehover li.iehover li.iehover a {
  background: #CCC;
  color: #FFF;
}

/* 4th Menu */
.menu-h li:hover li:hover li:hover li a,
.menu-h li.iehover li.iehover li.iehover li a {
  background: #EEE;
  color: #666;
}

/* 4th Menu Hover */
.menu-h li:hover li:hover li:hover li a:hover,
.menu-h li.iehover li.iehover li.iehover li a:hover {
  background: #CCC;
  color: #FFF;
}

.menu-h ul ul,
.menu-h ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
.menu-h li:hover ul ul,
.menu-h li:hover ul ul ul,
.menu-h li.iehover ul ul,
.menu-h li.iehover ul ul ul {
  display: none;
}

.menu-h li:hover ul,
.menu-h ul li:hover ul,
.menu-h ul ul li:hover ul,
.menu-h li.iehover ul,
.menu-h ul li.iehover ul,
.menu-h ul ul li.iehover ul {
  display: block;
}

/*Estilo general para el gridView*/
.mydatagrid { width: 80%; border: solid 1px black; min-width: 80%; }
.header { background-color: #646464; font-family: Arial; color: White; border: none 0px transparent; height: 25px; text-align: center; font-size: 13px; }
.rows { background-color: #fff; font-family: Arial; font-size: 14px; color: #000; min-height: 25px; text-align: left; border: none 0px transparent; }
.rows:hover { background-color: #e1e1e1; font-family: Arial; color: #fff; text-align: left; }
.selectedrow { background-color: #ff8000; font-family: Arial; color: #fff; font-weight: bold; text-align: left; }
/** FOR THE PAGING ICONS  **/
.mydatagrid a { color: #000; text-decoration: underline; font-weight: 100; }
/** FOR THE PAGING ICONS  HOVER STYLES**/
.mydatagrid a:hover { background-color: #000; color: #fff; }
/** FOR THE PAGING ICONS CURRENT PAGE INDICATOR **/
.mydatagrid span { background-color: #c9c9c9; color: #000; padding: 5px 5px 5px 5px; }
.pager { background-color: #646464; font-family: Arial; color: White; height: 30px; text-align: left; }
.mydatagrid td { padding: 5px; }
.mydatagrid th { padding: 5px; }
